*{ /*primer bloque*//*aplica a toda "*" la pagina*/
    padding: 0 ;
    /*relleno*/
    margin: 0;
    color: white;
    text-align: center;
}
html, body{
    background-color: #E9967A ;
}
.main-container{
    border: 4px solid teal;
    border-radius: 20px;
    margin: 2rem; /*relativo al tamaño de la ventana */
    background-color: rgb(143, 188, 143);

}
nav, section, footer, article, aside{
    border: 2px solid teal;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem; /*relleno*/

}
article, aside{
    width: 40%;
    height: 200px;
    display: inline-block;
    background-color: #87CEEB;

}
nav, section, footer{
    background-color: 	#F0E68C; 

}


