/*body{
    background-color: rgb(50, 2, 31);
}
h1{
    color: white;
}
a{
    display: block;
    color: #6c596e ;
    font-family: Alstoria;
    font-size: 2rem;
    text-align: right;
    padding: 1.5rem;
    text-decoration: none;
}
header{
    background-color: rgb(50, 2, 31);
}
a, .logo{
    display: inline-block;
    vertical-align: middle;
}
.logo{
    float: left;
    padding-right:70%;
    padding-top: 1rem;
}/*
.paletas{
    background-color: rgb(119, 160, 169); 

}
.helado{
    background-color: #6f7d8c;
}
.aguas{
    background-color:#6c596e   ;

}
.paletas, .helado, .aguas{
    display: inline-block;
    vertical-align: middle;
    padding: 1rem;
    margin: 2rem;
}
.helados{
    margin: auto;
    display: block;
}
footer{
    background-color: #4b2e39;
    padding: 1.5rem;
}*/
.fond{
    position: absolute;
    padding-top:85px;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: #eaac8b;
}
.style_prevu_kit{
    display: inline-block;
    border:0;
    width: 196px;
    height: 210px;
    position: relative;
    -webkit-transition: all 200ms ease-out;
    -webkit-transform: scale(1) ;
    -ms-transition: all 200 ms ease-out;
    -ms-transform: scale(1) ;
    -moz-transition: all 200 ms ease-out;
    -moz-transform: scale(1) ;
}
.style_prevu_kit:hover{
    /*box-shadow: 0px 0px 150px #000000;*/
    z-index: 2;
    -webkit-transition: all 200ms ease-out;
    -webkit-transform: scale(1.5) ;
    -ms-transition: all 200ms ease-out;
    -ms-transform: scale(1.5) ;
    -moz-transition: all 200ms ease-out;
    -moz-transform: scale(1.5) ;
}